
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: 'white';
  font-family: Poppins;
  font-size: 1.2rem;
  color: white;
  min-height: 100vh;
  height: 2500px;
  width:100vw;
}

.header-home{
  background-image: url('./assets/cube.png');
  
  width:100%;
  height:800px;
  background-size: cover;
}

.building-section{
  background-image: url('./assets/house.png');
  background-size:cover;
  width:80vw;
  height:auto;
}

.service-section{
  background-image: url('./assets/service-image.png');
  background-size: cover;
  width: 80vw;
  height:auto;
}